<div class="home page">
    <a href="/#test">到Test页面</a>
    <a href="javascript:;" class="js_transition">push {params: 1}</a>
    <a href="javascript:;" class="js_replace">replace {params: 2}</a>
    <a href="javascript:;" class="js_router">当前路由信息</a>
    <a href="javascript:;" class="js_tip">打开提示框</a>
    <a href="javascript:;" class="js_toast">打开toast</a>
    <a href="javascript:;" class="js_share">设置分享</a>
</div>