<div class="test page">
    <div class="test-wrapper" id="fullpage">
        <div class="section section——first">
            <div class="section-main animated" data-show="flipInY"  data-hide="flipOutY">
                <div class="section-title">第一屏</div>
            </div>
        </div>
        <div class="section section——second">
            <div class="section-main animated" data-show="flipInY"  data-hide="flipOutY">
                <div class="section-title">第二屏</div>
            </div>
        </div>
        <div class="section section——third">
            <div class="section-main animated" data-show="flipInY"  data-hide="flipOutY">
                <div class="section-title">第三屏</div>
            </div>
        </div>
        <div class="section section——four">
            <div class="section-main animated" data-show="flipInY"  data-hide="flipOutY">
                <div class="section-title">第四屏</div>
            </div>
        </div>
    </div>
    <a href="/#" class="link-back">返回首页</a>
</div>