.globalFooter{
    border-top: 1PX solid #eeefef;
    padding: 10PX 0px;
    &-wrapper{
        max-width: $globalWidth;
        margin: 0px auto;
        height: 36PX;
        line-height: 36PX;
    }
    a{
        color: #999999;
        margin-right: 20PX;
        &:hover{
            text-decoration: underline;
        }
    }
}