@import "base/variables.scss";

.introduction{
    background-color: #00b934;
    color: #ffffff;
    padding: 150PX 0;
    &-content{
        text-align: center;
    }
    &-title{
        font-size: 30PX;
    }
    &-description{
        text-align: center;
        font-size: $fontSizeL;
        margin: 20PX 0;
    }
    &-more{
        text-decoration: underline;
        color: #ffffff;
        font-size: 18PX;
    }
}
.feature{
    padding: 100px 0 110px 0;
    text-align: center;
    &-title{
        font-size: 30px;
        font-weight: 300;
    }
    &-description{
        font-size: $fontSizeL;
        color: $colorGrayDark;
        margin-top: 20px;
    }
    &-show{
        margin-top: 30PX;
    }
    &--install{
        background-color: #f5f5f5;
    }
}
.supports{
    width: 600px;
    text-align: left;
    margin: 0px auto;
    color: #333333;
    font-size: 16PX;
    line-height: 2.0;
    li{
        padding: 5PX 10px;
        &:nth-child(odd){
            background-color: #f5f5f5;
        }
    }
}
.value--new, .value--old{
    background-color: bisque;
    font-style: italic;
}

pre{
    background-color: #000000;
    color: #999999;
    width: 600PX;
    border-radius: 5PX;
    padding: 10PX;
    text-align: left;
    padding: 20PX;
    margin: 0px auto;
}