$globalWidth: 980PX;

$fontSizeS: 12PX;
$fontSizeM: 14PX;
$fontSizeL: 16PX;
$fontSizeXL: 18PX;

$paddingSizeS: 5PX;
$paddingSizeM: 10PX;
$paddingSizeL: 15PX;
$paddingSizeXL: 20PX;

$borderRadiusS: 3PX;
$borderRadiusM: 4PX;
$borderRadiusL: 5PX;

$colorDefault: rgba(0, 0, 0, 1);
$colorPrimary: rgba(24, 144, 255, 1);
$colorBlack: #000;
$colorGrayDarker: #333333;
$colorGrayDark: #666666;
$colorGray: #999999;