@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes slide-up {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: none;
    }
}

@keyframes slide-down {
    0%{
        transform: none;
    }
    100%{
        transform: translateY(100%);
    }
}

@keyframes tip-in {
    0%{
        transform: translate3d(-50%, 0PX, 0);
        opacity: 0;
    }
    50%{
        opacity: 1;
        transform: translate3d(-50%, 10PX, 0);
    }
    100%{
        transform: translate3d(-50%, 10PX, 0);
        opacity: 1;
    }
}

@keyframes tip-out {
    0%{
        transform: translate3d(-50%, 10PX, 0);
        opacity: 1;
    }
    50%{
        opacity: 1;
        transform: translate3d(-50%, 10PX, 0);
    }
    100%{
        transform: translate3d(-50%, 0PX, 0);
        opacity: 0;
    }
}

@keyframes flip-in-y {
    0%{
        transform: translateY(-150PX);
        opacity: 0;
    }

    100%{
        transform: none;
        opacity: 1;
    }
}

@keyframes flip-out-y {
    0%{
        transform: none;
        opacity: 1;
    }

    100%{
        transform: translateX(-150PX);
        opacity: 0;
    }
}