@import "variables.scss";

body {
    font-family: -apple-system, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: transparent;
    font-size: 12px;
    line-height: 1;
    max-width: 750px; /*no*/
    position: relative;
}

html, body{
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;

}

a{
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.btn{
    display: block;
    width: 100%;
    font-size: 28px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999999;
    font-size: 30px;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #999999;
    font-size: 30px;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #999999;
    font-size: 30px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999999;
    font-size: 30px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hide{
    display: none !important;
}

@keyframes slideInRight {
    100%{
        transform: translate3D(0px,0px,0px);
    }
}

@keyframes slideOutRight {
    0%{
        transform: translate3D(0px,0px,0px);        
    }
    100%{
        transform: translate3D(-100%,0px,0px);        
    }
}

.page{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    display: none;
    transform: translateX(100%);
    -webkit-overflow-scrolling: auto;
    overflow: hidden;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 2;
    background-color: #ffffff;
    overflow-y: auto;
    &.animating{
        z-index: 10;
    }
    &.show{
        display: block;
        animation: slideInRight 0.5s linear forwards;
    }
    &.out{
        animation: slideOutRight 0.5s linear forwards;
    }
    background: {
        size:cover;
    }
}
