.globalLoading{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    z-index: 11;
    position: fixed;
    top: 0px;
    left: 0px;
    &-progress{
        height: 100px;
        width: 423px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -210px;
        background-image: url(../images/loading/loading.png);
        background-size: contain;
        background-position: left center;
    }
    &-percent{
        height: 100px;
        width: 0px;
        background-image: url(../images/loading/loading-progress.png);
        background-size: cover;
        background-position: left center;
    }
}