.globalShare{
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: 0.5s ease fade-in forwards;
    &——browser{
        background-color: rgba(0, 0, 0, 0.7);
        &.out{
            animation: fade-out 0.5s ease forwards;
        }
    }
    &-content{
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: $color-white;
        box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
        z-index: 2001;
        transform: translateY(100%);
        animation: slide-up 0.5s ease forwards;
        &.out{
            animation: slide-down 0.5s ease forwards;
        }
    }
    &-title{
        color: #999;
        text-align: center;
        font-size: 30px;
        padding: 30px 0px;
    }
    &-list{
        text-align: center;
        margin: 10px 0px 30px 0px;

    }
    &-item{
        display: inline-block;
        font-size: 0px;
        text-decoration: none;
        color: #000000;
        margin-left: 30px;
        width: 90px;
        padding: 10px;
        text-align: center;
        &:active{
            background-color: #f9f9f9;
        }
        &:first-child{
            margin-left: 0px;
        }
    }
    &-icon {
        height: 70px;
        width: 70px;
        display: block;
        margin: 0px auto 20px auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        &——weibo{
            background-image: url(../images/share/weibo.png);
        }
        &——qqzone{
            background-image: url(../images/share/qqzone.png);
        }
        &——renren{
            background-image: url(../images/share/renren.png);
        }
    }
    &-name{
        font-size: 24px;
        display: block;
    }
    &——social{
        background: url(../images/share/share.png) 87% 5% no-repeat rgba(0,0,0,.7);
        background-size: 75% auto;
    }
    &-cancel{
        display: block;
        text-align: center;
        height: 80px;
        line-height: 80px;
        text-decoration: none;
        color: $color-text-main;
        font-size: 28px;
        position: relative;
        &:active{
            background-color: #f9f9f9;
        }
        &:after{
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            height: 1PX;
            background-color: #efefef;
            width: 100%;
            transform: translateY(0.5);
        }
    }
}