.global-tip{
    background: rgba(17, 17, 17, 0.7);
    border-radius: 3PX;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    z-index: 2000;
    padding: 15px 40px;
    font-size: 24px;
    white-space: nowrap;
    animation: tip-in 0.5s ease forwards;
    &.out{
        animation: tip-out 0.5s ease forwards;
    }
}
