@keyframes globalTip {
    0%{
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
    40%{
        opacity: 1;
        transform: translate3d(0, 20PX, 0);
    }
    80%{
        opacity: 1;
        transform: translate3d(0, 20PX, 0);
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
}

.globalTip{
    position: fixed;
    top: 200px;
    width: 100%;
    z-index: 2000;
    font-size: 28px;
    white-space: nowrap;
    display: none;
    text-align: center;
    &-inner{
        background: rgba(0, 0, 0, 0.7);
        border-radius: 3PX;
        height: 30px;
        line-height: 30px;
        color: #fff;
        display: inline-block;
        padding: 15px 40px;
    }
    &.show{
        display: block;
        animation: globalTip 3s ease forwards;
    }
}
