@keyframes globalToast {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.globalToast{
    &.out{
        animation: globalToast 0.3s ease forwards;
    }
    &-mask{
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    &-box{
        position: fixed;
        z-index: 5000;
        width: 120PX;
        min-height: 120PX;
        top: 180PX;
        left: 50%;
        margin-left: -60PX;
        background: rgba(17, 17, 17, 0.6);
        text-align: center;
        border-radius: 5PX;
        color: $color-white;
    }
    &-content{
        margin: 0 0 15PX;
        line-height: 1.6;
        font-size: 15PX;
        font-weight: 600;
    }
    &-icon{
        margin: 18PX 0 0;
        color: $color-white;
        font-size: 55PX;
    }
    .weui-loading{
        margin: 30PX 0 0;
        width: 38PX;
        height: 38PX;
        vertical-align: baseline;
    }
}
