$color-orange:#ffbc64;
$color-orange-lighter:#efc997;
$color-orange-darker:#d69f56;
$color-btn-main-text:#140800;
$color-text-main:#333;
$color-white:#fff;

//form
$color-form-bg:rgba($color: #fff, $alpha: .2);
$color-form-border:rgba($color: #fff, $alpha: .2);

$form-input-height:76px;
$form-label-width:110px;