<div class="introduction">
    <div class="introduction-content">
        <h1 class="introduction-title">它是什么？</h1>
        <p class="introduction-description">这是一个响应式多页应用的前端工程，让你各式各样的网页开发中跳出来！</p>
        <a href="javascript:;" class="btn btn-primary btn-large">立即了解</a>
    </div>
</div>

<div class="feature-list">
    <section class="feature">
        <h2 class="feature-title">特性</h2>
        <p class="feature-description">为了让你快速的进入开发，它支持了什么</p>
        <div class="feature-show">
            <ul>
                <li><span>完美的开发体验</span></li>
                <li><span>无其他依赖，让代码体积更小</span></li>
                <li><span>TypeScript，让你的代码更强壮</span></li>
                <li><span>可配置多环境</span></li>
                <li><span>自定义配置多入口</span></li>
                <li><span>支持持久化，页面模块不相互影响</span></li>
                <li><span>自持响应式</span></li>
                <li><span>支持通用模板引入</span></li>
                <li><span>默认支持微信JsSdk</span></li>
                <li><span>很多好用的通用模块，提高开发效率</span></li>
            </ul>
        </div>
    </section>

    <section class="feature">
        <h2 class="feature-title">入门</h2>
        <p class="feature-description">利用NPM安装起来很简便</p>
        <div class="feature-show">

        </div>
    </section>

    <section class="feature">
        <h2 class="feature-title">演示</h2>
        <p class="feature-description"></p>
        <div class="feature-show">
            <button class="btn btn-primary btn-tip">弹出Tip</button>
            <button class="btn btn-primary btn-confirm">弹出Confirm</button>
            <button class="btn btn-primary btn-share">分享框</button>
            <br />
            <br />
            <button class="btn btn-primary btn-log">当前路由</button>
            <button class="btn btn-primary btn-proxy">数据监听</button>
            <button class="btn btn-primary btn-open">打开新页面</button>
        </div>
    </section>
</div>