<div class="introduction">
    <div class="introduction-content">
        <h1 class="introduction-title">它是什么？</h1>
        <p class="introduction-description">这是一个响应式多页应用的前端工程，让你各式各样的网页开发中跳出来！</p>
        <a href="https://github.com/coocssweb/mpa-typescript" class="introduction-more">立即了解</a>
    </div>
</div>

<div class="feature-list">
    <section class="feature">
        <h2 class="feature-title">特性</h2>
        <p class="feature-description">为了让你快速的进入开发，它支持了什么</p>
        <div class="feature-show">
            <ul class="supports">
                <li>✔︎ 完善的的开发体验</li>
                <li>︎✔︎ 可配置多环境，开发环境、测试环境、预生产环境、生产环境等</li>
                <li>✔︎ 可自定义配置多入口，简易配置，入口和入口间相互独立</li>
                <li>✔︎ 很多好用的通用模块，提高开发效率</li>
                <li>✔︎ 无第三方依赖，代码体积小，如果你需要其他依赖可自行引入</li>
                <li>✔︎ TypeScript，让你的代码更强壮</li>
                <li>✔︎ 支持持久化，页面模块不相互影响</li>
                <li>✔︎ 支持响应式</li>
            </ul>
        </div>
    </section>

    <section class="feature feature--install">
        <h2 class="feature-title">安装</h2>
        <p class="feature-description">利用NPM安装起来很简便</p>
        <div class="feature-show">
<pre>
# install my cli tool
npm install -g @coocss/cli

# 创建一个目录，项目可自定义
coocss create html5

# 安装依赖
cd html5
npm install

# 开始开发
npm start
</pre>
        </div>
    </section>

    <section class="feature">
        <h2 class="feature-title">通用模块</h2>
        <p class="feature-description"></p>
        <div class="feature-show">
            <button class="btn btn-primary btn-tip">弹出Tip</button>
            <button class="btn btn-primary btn-confirm">弹出Confirm</button>
            <button class="btn btn-primary btn-share">分享框</button><br /><br />
<button class="btn btn-primary btn-log">当前路由</button>
<button class="btn btn-primary btn-proxy">数据监听</button>
<button class="btn btn-primary btn-open">打开页面</button>
        </div>
    </section>
</div>