.test{
    background-color: white;
    &-wrapper{
        position: relative;
        height: 100%;
    }
    .section{
        width: 100%;
        font-size: 24px;
        overflow: hidden;
        position: relative;
        &-main{
            position: absolute;
            top: 50%;
            margin-top: -150px;
            width: 100%;
            text-align: center;
            opacity: 0;
            &.flipInY{
                animation: flip-in-y 0.5s linear forwards;
            }
            &.flipOutY{
                animation: flip-out-y 0.5s linear forwards;
            }
        }
        &-title{
            font-size: 50px;
            color: #ffffff;
        }
        &——first{
            background-color: #efc997;
        }
        &——second{
            background-color: black;
        }
        &——third{
            background-color: rebeccapurple;
        }
        &——four{
            background-color: orange;
        }
    }
    .link-back{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 10px;
        z-index: 10;
    }
}